body{
	background: black;
}


form, .content{
	width: 30%;
	margin: 150px auto;
	padding: 20px;
	border: 5px solid white;
	background: white;
	border-radius: 10px;
	font-family: Helvetica;
}

.href-color{
	color: inherit;
}

.form-padding{
	margin-top: 35px;
}

.content-margin{
	margin-top: 50px;
}

.input-group{
	margin: 10px 0px 10px 0px;
}

.input-group label{
	display: block;
	text-align: left;
	margin: 4px;
}

.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	font-family: Helvetica;
	border-radius: 5px;
	border: 1px solid grey;
}

.btn{
	font-family: Helvetica;
	color: black;
	padding: 5px;
	padding: 10px;
}

.error{
	width: 92%;
	margin: -3px auto;
	padding: 5px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}

.success{
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.back-arrow{
	height: 5%;
    width: 5%;
    margin-left: 40px;
}

.logo{
    height: 22%;
    width: 22%;
    display: block;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .pagelogo{
    height: 22%;
    width: 22%;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.m-li{

    font-family: Helvetica;
    font-weight: bold;
    font-size: 19px;
    color: white;
    margin: 0;
    padding: 0;
    display: inline;
    color: white;
    padding-left: 10px;
}

 .m-ul{
    padding-left: 38%;
  }


.docicon{
	height: 40%;
    width: 40%;
    display: block;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.space{
	padding-bottom: 200px;
}


table.darkTable {
  font-family: Helvetica;
  border: 4px solid #FFFFFF;
  background-color: #E8E8E8;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 3px solid #FFFFFF;
  padding: 3px 2px;
}
table.darkTable td {
  font-size: 18px;
  color: #000000;
}
table.darkTable tr:nth-child(even) {
  background: #FFFFFF;
}
table.darkTable th {
  background: #050505;
}
table.darkTable th {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot td {
  font-size: 12px;
}

table.profileTable {
  font-family: Helvetica;
  background-color: #E8E8E8;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-top: -150px;
}
table.profileTable td, table.profileTable th {
  border: 3px solid #FFFFFF;
  padding: 3px 2px;
}
table.profileTable td {
  font-size: 13px;
  color: #000000;
}
table.profileTable tr:nth-child(even) {
  background: #FFFFFF;
}
table.profileTable th {
  background: #050505;
}
table.profileTable th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.profileTable thead th:first-child {
  border-left: none;
}

table.profileTable tfoot td {
  font-size: 12px;
}


.Pgtitle{
	font-family: Helvetica;
	font-size: 50px;
	color: white;
	text-align: center;

}

.Description{
	font-family: Helvetica;
	font-size: 20px;
	color: white;
	text-align: center;
	letter-spacing: 3px;
}

.Back{
    font-family: Helvetica;
    color: white;
    display: block;
    height: 50%;
    width: 50%;
    padding-top: 50px;

}

.p-li{

    font-family: Helvetica;
    font-size: 19px;
    color: white;
    margin: 0;
    padding: 0;
    display: inline;
    color: white;
    padding-left: 10px;
}

.p-li-spacing{

    margin-left: 50px;
    margin-right: 50px;
    font-family: Helvetica;
    font-size: 19px;
    color: white;
    display: inline;
    color: white;
}

.p-margin{
	margin-bottom: -85px;
	margin-top: -85px;
	color: white;
}
